
<div class="container">
    <input id="youtube-input" type="text" name="youtube-search" data-dropdown="youtube-results">
</div>

<ul id="youtube-results" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
</ul>

<script src="https://apis.google.com/js/client.js"></script>